/* .logo {
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 .51rem #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2rem #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */


/* Coding Begin here */
* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

h1 {
  font-size: 3.5rem;
}



