/* AttendancePage Component */

.attendance-page {
  margin: 15vh 0vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ap-heading {
  margin: 0 0 6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}
.ap-title {
  text-align: center;
  margin-bottom: 15px;
}
.ap-heading h1 {
  font-size: 3.5rem;
  margin: 0;
}
.ap-heading h2 {
  font-size: 1.5rem;
  margin: 5px 0;
  font-weight: 600;
}
.ap-heading span {
  margin-right: 10px;
  padding: 0px 15px 3px;
  font-weight: 700;
  border-radius: 7px;
  color: #191919;
  background-color: #cbaa55;
}

.search-bar {
  margin: 15px 0;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(-20px) translateY(+10px);
  z-index: 5000;
}
.search-box {
  font-size: 1.3rem;
  position: relative;
  padding: 10px 50px 10px 15px;
  border-radius: 10px;
  background-color: #353535;
  border: none;
  color: rgb(248, 248, 248);
  width: 22vw;
  transition: 0.3s;
}
.search-box:hover {
  background-color: #2f2f2f;
}
.search-bar i {
  position: absolute;
  font-size: 1.3rem;
  padding: 10px;
  transform: translateX(-45px) translateY(+1px);
}

.ap-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5vw;
  width: 90vw;
}
