.award-page {
  margin: 12vh 0vh 15vh;
}
.current-partners {
  margin: 17vh 0vh;
  text-align: center;
}
.partner-title {
  padding: 0px 25px;
  background-color: rgba(219, 219, 219, 0.568);
  width: 40vw;
  border-radius: 5rem;
  margin: 0 auto 14vh;
}
.partner-footer {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 10vh;
}
