.awd-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 0.75rem;
  border-radius: 18px;
  background-color: rgba(233, 233, 233, 0.815);
  width: 16vw;
  height: 50vh;
  border: 0px solid rgba(117, 117, 117, 0.397);
  transition: 0.3s ease-out;
}
.awd-card-image {
  position: absolute;
  height: 50vh;
  object-fit: cover;
  filter: drop-shadow(0 0 0.75rem #000000b2);
  transition: 0.4s;
}
.awd-card-title {
  position: absolute;
  width: 14vw;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.836);
  border-radius: 10px;
  transform: translateY(+24vh);
  opacity: 0;
  transition: 0.3s ease-out;
}
.awd-card:hover {
  transform: scale(1) translateY(-2vh);
  cursor: pointer;
  z-index: 99;
  border: 5px solid rgba(117, 117, 117, 0.397);
  background-color: rgba(211, 211, 211, 0.815);
  box-shadow: 0 2vh 2rem rgba(0, 0, 0, 0.329);
}
.awd-card:hover .awd-card-image {
  transform: scale(1.07);
  margin-bottom: 16vh;
  filter: drop-shadow(0 0 1.5rem #0000007e);
}
.awd-card:hover .awd-card-title {
  transform: translateY(+20vh);
  opacity: 1;
}
