/* AwardCard Component */

.awd-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 18px;
  background-color: #eeeeeec7;
  width: 16vw;
  height: 50vh;
  border: 0px solid rgba(117, 117, 117, 0.397);
  transition: 0.3s ease-out;
}
.awd-card-image {
  position: absolute;
  height: 45vh;
  object-fit: cover;
  filter: drop-shadow(0 0 0.75rem #000000b2) blur(2px);
  transition: 0.4s;
}
.awd-card-title,
.awd-besa {
  position: absolute;
  width: 14vw;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 5px 15px;
  background-color: #b3008f1c;
  border-radius: 10px;
  transform: translateY(+24vh);
  opacity: 0;
  transition: 0.3s ease-out;
}
.awd-besa {
  width: 13vw;
  font-size: 1.75rem;
  padding: 5px 15px;
  color: #b3008fa6;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100px;
  transform: translateY(+24vh);
}

/* animating the award card when hover over it*/
.awd-card:hover {
  transform: translateY(+2vh);
  cursor: pointer;
  z-index: 99;
  border: 5px solid #a70270bd;
  background-color: #ffe9fbaf;
  box-shadow: 0 2vh 2rem rgba(0, 0, 0, 0.329);
}
.awd-card:hover .awd-card-image {
  transform: scale(1.1);
  margin-bottom: 14.5vh;
  filter: drop-shadow(0 0 1.5rem #0000007e) blur(0px);
}
.awd-card:hover .awd-card-title {
  transform: translateY(+20.5vh);
  opacity: 1;
}
.awd-card:hover .awd-besa {
  transform: translateY(+27vh);
  opacity: 1;
}
