/* Carousel Component */

.carousel-image-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  scroll-margin-top: 5rem;
}
.carousel-image {
  width: 85vw;
  height: 80vh;
  border-radius: 2vw;
  object-fit: cover;
  transition: fade-in 0.5s;
  z-index: 0;
  background-color: white;
}

/* transition classes for each buttons */
.transitioning-right {
  pointer-events: none;
  animation: fade-in-right 0.7s;
}
.transitioning-left {
  pointer-events: none;
  animation: fade-in-left 0.7s;
}
.prev-btn {
  transform: translateX(+40vw);
}
.next-btn {
  transform: translateX(-40vw);
}

.prev-btn,
.next-btn {
  padding: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50px;
  border: none;
  color: rgb(19, 19, 19);
  font-size: 1.5rem;
  background-color: rgba(228, 228, 228, 0.445);
  cursor: pointer;
  z-index: 5;
  pointer-events: all;
}

/* styles for scroll down button */
.scroll-btn {
  padding: 12px 25px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  text-decoration: none;
  color: rgb(63, 63, 63);
  transform: translateY(+40vh);
  box-shadow: 0 0 5rem #0000007e;
  transition: 0.3s ease-out;
  z-index: 10;
}
.scroll-btn:hover {
  padding: 12px 50px;
  transform: translateY(+39vh) scale(1.1);
}

/* animation keyframes for each button action */
@keyframes fade-in-right {
  0% {
    opacity: 80%;
    transform: translateX(+2vw);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fade-in-left {
  0% {
    opacity: 80%;
    transform: translateX(-2vw);
  }
  100% {
    opacity: 100%;
  }
}

/* Making Responsive */
@media all and (max-width: 600px) {
  /* default styling */
  .carousel-image {
    width: 90vw;
    margin-top: 1vh;
    border-radius: 1.5rem;
    height: 70vh;
  }
  .prev-btn {
    transform: translateX(+37vw);
  }
  .next-btn {
    transform: translateX(-37vw);
  }
  .scroll-btn {
    transform: translateY(+35vh);
  }
  .scroll-btn:hover {
    transform: translateY(+36vh) scale(1.1);
  }
}
