/* Footer Component */

/* Default styling */
.footer {
  background-color: #ebebeb9c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 85vw;
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 2vw;
  margin: auto;
}
.footer-image {
  width: 45vw;
  object-fit: scale-down;
  margin: 2vh 3vh;
}

/* contact us styling */
.contact-us {
  padding: 10px;
  box-sizing: border-box;
  width: 30vw;
}
.contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.contact-us h3 {
  padding: 10px;
  margin: 5px;
  color: #a70270;
  font-size: 2rem;
  text-align: center;
}
.contact-us p {
  box-sizing: border-box;
  font-size: 1.2rem;
  text-align: left;
  padding: 15px 15px;
  width: 80%;
  border-radius: 15px;
  margin: 10px 0px;
  background-color: #fc3dd51c;
  min-width: 20vw;
}
.contact-us b {
  font-weight: 600;
}
.contact-us p p {
  margin-top: 0px;
  width: 100%;
  padding: 10px 15px;
  font-weight: 700;
  border-radius: 10px;
  background-color: #fa12cc1c;
}

/* Copyright section styling */
.copyright {
  font-size: 1.2rem;
  text-align: center;
  font-weight: normal;
  text-wrap: balance;
  margin: 2vh 0vh 3vh;
  line-height: 1.45rem;
}
.csds {
  background-color: #ffecfc9c;
  border-radius: 500px;
  margin: 5px auto 5px;
  padding: 5px 25px;
  width: fit-content;
  color: #a70270;
  margin: 0px 10px;
}
.copyright-links,
.copyright-links:visited {
  text-decoration: underline;
  color: #2e2e2e;
}
.copyright-heart {
  color: rgb(229, 77, 77);
}

/* Making Responsive */
@media all and (max-width: 600px) {
  .footer {
    border-radius: 1.5rem;
    width: 90vw;
    padding: 1rem;
  }

  .footer-image {
    width: 82vw;
  }

  .contact-us {
    padding: 5px;
    width: 100%;
    font-size: 1.8rem;
    padding-bottom: 0px;
  }

  .contact-us p {
    width: 100%;
    font-size: 1.1rem;
  }
  .copyright {
    font-size: 1.05rem;
    width: 90%;
    margin: 2vh auto 3vh;
  }
  .csds {
    padding: 5px 15px;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 1200px) {
  .contact-us p p {
    font-size: 1.25rem;
  }
}
