/* Header and Navigation bar component */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  margin-top: 1rem;
}
.nav-bar {
  padding: 17px 6px;
  border-radius: 5rem;
  box-shadow: 0 10px 5rem rgba(0, 0, 0, 0.363);
  background-color: rgb(255, 255, 255);
}
.nav-btn {
  text-decoration: none;
  color: #600647;
  padding: 10px 25px;
  min-width: 120px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin: auto 2px;
  font-size: 1.1rem;
  pointer-events: all;
  font-weight: 600;
  transition: all 0.25s ease-out;
}
.nav-btn:hover {
  background-color: #600646de;
  color: #ffffff;
}

/* Making Responsive */
@media all and (max-width: 810px) {
  .nav-btn {
    font-size: 1rem;
  }
}
