/* Scroll to top component */

.scroll-to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  height: 7vh;
  width: 7vh;
  background-color: #ffbfeab9;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  color: #a70270;
}
.scroll-to-top:hover {
  padding-bottom: 12px;
}

/* attaching classes for each states */
.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.hide {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.1);
}

/* Making Responsive */
@media all and (max-width: 600px) {
  .scroll-to-top {
    right: 15px;
    bottom: 15px;
    height: 5vh;
    width: 5vh;
  }
  .scroll-to-top:hover {
    padding-bottom: 0px;
  }
}
